{% load static %}
<section id="features" class="section-padding">
    <div class="container">
      <div class="section-header text-center">          
        <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Recursos Incríveis</h2>
        <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
      </div>
      <div class="row">
          {% for l in recursos %}
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
          <div class="content-left">
            <div class="box-item wow fadeInLeft" data-wow-delay="0.3s">
              <span class="icon">
                <i class="{{ l.icone }}"></i>
              </span>
              <div class="text">
                <h4>{{ l.recursos }}</h4>
                <p>{{ l.descricao }}</p>
              </div>
            </div>           
          </div>
        </div> 
        {% endfor %}       
      </div>
    </div>
  </section>