{% load static %}
<section id="pricing" class="section-padding">
    <div class="container">
      <div class="section-header text-center">          
        <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Alguns de nossos produtos</h2>
        <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
      </div>
      <div class="row">

        {% for p in produtos %}

        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="table wow fadeInLeft" data-wow-delay="1.2s">
            <div class="{{ p.icone }}">
              <i class="lni-package"></i>
            </div>
            <div class="pricing-header">
              <p class="price-value">{{ p.preco }}<span> /mo</span></p>
            </div>
            <div class="title">
              <h3>{{ p.nome }}</h3>
            </div>
            <ul class="description">
              <li>{{ p.descricao }}</li>
              <li><span> Ainda restam </span> {{ p.estoque }} <span> unidades</span></li>
            </ul>
            <form method="post" action='{% url 'index' p.id %}'> 
              {% csrf_token %}        
            <button class="btn btn-common" value="atualizar_estoque">Compre já</button>
            </form>         
          </div> 
        </div>

        {% endfor %} ''

      </div>
    </div>
  </section>